.navbar{ 
    background-color: transparent;
    justify-content: flex-end;
    height: 68px;
    padding-right: 6px;
    // background-color: black;
}
.top-header-icon{ 
    width: 8%;
    justify-content: space-around;
    // width: 10%;
    .img-wrapper{ 
        img{ 
            height: 30px;
            width: 30px;
        }
    }
}