<div class="top-section">
    <div class="inner-section">
        <div class="heading-section">
            <div class="col-lg-6 d-flex">
                <div class="heading-text"> 
                    Sales and Volume Overview
                </div>
                <div class="icon">
                    <img src="assets/icon/Info.png" alt="info" srcset="">
                </div>
            </div>
        </div>
        <div class="d-flex main-card">
            <div class="porfolio-card">
                <div class="brand d-flex">
                    <div class="lhs">
                        <div class="head-text">
                            No of Brands:
                        </div>
                        <div class="value">
                            08
                        </div>
                    </div>
                    <div class="rhs">
                        <img src="assets/icon/persp.png" alt="">
                    </div>
                </div>
            </div>
            <div class="porfolio-card">
             <div class="portfolio1">
                <div class="top">
                    <div class="lhs"> 
                        <img src="assets/icon/port1.png" alt="">
                    </div>
                    <div class="rhs">
                        <div class="head-text">
                            Total Portfolio Spends
                        </div>
                        <div class="value">
                            $278 M
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="lhs">
                        <div class="status">
                            <img src="assets/icon/increase.png" alt="">
                        </div>
                        <div class="status-value">
                            +3.52%
                        </div>
                    </div>
                    <div class="rhs">
                        <div class="bottom-text">
                            Compared to last year
                        </div>
                    </div>
                </div>
             </div>
            </div>
            <div class="porfolio-card">
                <div class="portfolio1">
                    <div class="top">
                        <div class="lhs"> 
                            <img src="assets/icon/port2.png" alt="">
                        </div>
                        <div class="rhs">
                            <div class="head-text">
                                Total Portfolio Volume
                            </div>
                            <div class="value">
                                26 M
                            </div>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="lhs">
                            <div class="status">
                                <img src="assets/icon/increase.png" alt="">
                            </div>
                            <div class="status-value">
                                +1.25%
                            </div>
                        </div>
                        <div class="rhs">
                            <div class="bottom-text">
                                Compared to last year
                            </div>
                        </div>
                    </div>
                 </div>  
            </div>
            <div class="porfolio-card">
                <div class="portfolio1">
                    <div class="top">
                        <div class="lhs"> 
                            <img src="assets/icon/port3.png" alt="">
                        </div>
                        <div class="rhs">
                            <div class="head-text">
                                Total Portfolio Share
                            </div>
                            <div class="value">
                                70 %
                            </div>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="lhs">
                            <div class="status">
                                <img src="assets/icon/decrease.png" alt="">
                            </div>
                            <div class="status-value status-value1">
                                +2.35%
                            </div>
                        </div>
                        <div class="rhs">
                            <div class="bottom-text">
                                Compared to last year
                            </div>
                        </div>
                    </div>
                 </div> 
            </div>
        </div>
        <!-- <ion-item>
            <ion-label>Hair Color</ion-label>
            <ion-select value="brown" ok-text="Okay" cancel-text="Dismiss">
              <ion-select-option value="brown">Brown</ion-select-option>
              <ion-select-option value="blonde">Blonde</ion-select-option>
              <ion-select-option value="black">Black</ion-select-option>
              <ion-select-option value="red">Red</ion-select-option>
            </ion-select>
          </ion-item> -->
    </div>
</div>